---
// Fernando Becerra Ortiz
import Layout from '../layouts/Layout.astro';
import Menu from '../sections/Menu.astro';
import Header from '../sections/Header.astro';
import Buscador from '../components/Buscador.astro';
import Music from '../sections/Musica.astro';
import Promos from '../sections/Promos.astro';
import Shows from '../sections/Shows.astro';
import Footer from '../sections/Footer.astro';
---

<Layout>
	<Menu />
	<Header />
	<main>
		<Buscador />
		<Music />
		<Promos />
		<Shows />
	</main>
	<Footer />
</Layout>
