---
// Fernando Becerra Ortiz
import logoBlanco from "../../public/LogoBlanco.svg"
---

<div class="flex justify-start items-center">
    <img class="w-[70px] mt-5 mb-5 xl:w-[50%]" src={logoBlanco.src} alt="Logo Cirque du Soleil blanco">
</div>