---
// Fernando Becerra Ortiz
const { href, text } = Astro.props;
---

<li class="pt-2 pb-2 h-8">
    <a class="inline-block hover:border-b-1 hover:border-[#767676] hover:text-[#767676]" href={href}>{text}</a>
</li>
