---
// Fernando Becerra Ortiz
import Menudesktop from "../components/Menudesktop.astro";
import Menumovil from "../components/Menumovil.astro";
---

<nav class="z-20">
    <Menumovil />
    <Menudesktop />
</nav>