---
// Fernando Becerra Ortiz
import heroImage from "../../public/heroImage.jpg";
// No se puede utilizar bg-[url()] con elementos pasados por parametros por JS
---

<section class={`max-h-full h-full w-full min-h-[720px] bg-cover bg-center bg-no-repeat bg-[url(/heroImage.jpg)] flex items-center justify-center`}>
    <div class="max-w-[90%] lg:max-w-[50%] m-auto text-4xl lg:text-7xl text-center leading-[1.2]">
        <p class="font-bold text-white">Descubra lo extraordinario</p>
    </div>
</section>