---
// Fernando Becerra Ortiz
import sunImage from '../../public/sunImage.png'
---
<section class="bg-linear-to-b from-gradient-top to-gradient-bottom min-h-[480px] mb-[60px]">
    <div class="flex flex-col-reverse xl:flex-row justify-between items-center max-w-[1470px] mx-auto px-4">
        <div class="text-white font-bold mb-8 text-center xl:text-left">
            <h1 class="text-3xl xl:text-5xl leading-[1.4] mb-4">40 años bajo el sol</h1>
            <p class="text-xl xl:text-2xl leading-[1.4] max-w-xl">Celebremos los últimos 40 años con la mejor música de Cirque du Soleil.</p>
            <button class="cursor-pointer rounded-full border border-white px-6 py-2 mt-4 text-[16px]" type="button">Escuchar</button>
        </div>
        <div class="flex justify-center items-center">
            <img class="mt-10 mb-10 w-1/2 xl:w-full h-auto" src={sunImage.src} alt="Sun image">
        </div>
    </div>
</section>